<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>DeleteST</display-name>
    <servlet-name>DeleteST</servlet-name>
    <servlet-class>com.services.DeleteST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteST</servlet-name>
    <url-pattern>/DeleteST</url-pattern>
  </servlet-mapping>
  <display-name>project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DisplayDetailsST</display-name>
    <servlet-name>DisplayDetailsST</servlet-name>
    <servlet-class>com.services.DisplayDetailsST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayDetailsST</servlet-name>
    <url-pattern>/DisplayDetailsST</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayListST</display-name>
    <servlet-name>DisplayListST</servlet-name>
    <servlet-class>com.services.DisplayListST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayListST</servlet-name>
    <url-pattern>/DisplayListST</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditST</display-name>
    <servlet-name>EditST</servlet-name>
    <servlet-class>com.services.EditST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditST</servlet-name>
    <url-pattern>/EditST</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveST</display-name>
    <servlet-name>SaveST</servlet-name>
    <servlet-class>com.services.SaveST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveST</servlet-name>
    <url-pattern>/SaveST</url-pattern>
  </servlet-mapping>
</web-app>